<% include partials/header %>

<div class="container">
    <div class ="row text-center" style="display: flex; flex-wrap: wrap;">
		<% products.forEach(function(product){ %>
            <div class ="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src ="<%= product.image %>">
                    <div class="caption">
               			<H3> <%= product.name %></H3>
               			<h4><%= product.price %> $</h4>
						<h4><%= product.description.substring(0, 15) %>...</h4>
                    </div>
					<a href="/add-to-cart/<%= product._id %>" class="btn btn-md btn-success">Add To Cart</a>
					<% if(currentUser && currentUser.usertype == "admin") { %>
						<a href="/products/<%= product._id %>/edit" class="btn btn-xs">Edit</a>
						<form id="delete-form" action="/products/<%= product._id %>?_method=DELETE" method="POST">
                               <button class="btn btn-xs">Delete</button>
						</form>
					<% } %>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include partials/footer %>